<a href="https://colab.research.google.com/github/Zaedul-Islam/Machine_Learning_Projects/blob/master/Cereal/Cereal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Hierarchical Clustering on Cereal Data**

## **Importing the libraries**

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## **Reading 'cereal' dataset**

In [2]:
filepath = '/content/drive/My Drive/Colab Notebooks/Cereal/Dataset/cereal-updated.csv'
dataset = pd.read_csv(filepath)

dataset.head()

                     Cereals  calories  protein  ...  vitamins  shelf     rating
0                  100%_Bran        70        4  ...        25      3  68.402973
1          100%_Natural_Bran       120        3  ...         0      3  33.983679
2                   All-Bran        70        4  ...        25      3  59.425505
3  All-Bran_with_Extra_Fiber        50        4  ...        25      3  93.704912
4             Almond_Delight       110        2  ...        25      3  34.384843

[5 rows x 12 columns]

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Cereals   77 non-null     object
 1   calories  77 non-null     int64
 2   protein   77 non-null     int64
 3   fat       77 non-null     int64
 4   sodium    77 non-null     int64
 5   fiber     77 non-null     float64
 6   carbo     77 non-null     float64
 7   sugars    77 non-null     int64
 8   potass    75 non-null     float64
 9   vitamins  77 non-null     int64
 10  shelf     77 non-null     int64
 11  rating    77 non-null     float64
dtypes: float64(4), int64(7), object(1)
memory usage: 7.3+ KB

**Findings:**
1.  The *cereal* dataset contains 12 columns and 77 rows, but no missing values.

In [0]:
X = dataset.iloc[:, [1, 11]].values